*{
margin: 0px;
padding: 0px;
box-sizing: 0px;
} 
.container1{
    position: fixed;
    background-color:rgb(2,2,66);
    width:100px; 
    min-height:100vh; 
    height: 100%;
}
#letter-d{
    padding-left: 33px;
    color: white;
    padding-top: 15px;
    font-size: 40px;
    font-family: "Arsenal SC", sans-serif;
}
.side-icon{
    color: grey;
    font-size: 20px;
    padding-left: 33px;
    padding-top: 20px;
}
.bxs-contact{
    color: white;
}
.container2{
    position: fixed;
   background-color:whitesmoke;
   margin-left:100px;
   display: flex;
   min-width:100vw;
   width:100%;
   height:70px ; 
}
.edit{
color: #000000;
margin: 0px 0px 0px 20px;
padding: 20px 0px;
font-size:24px;
font-family: "Public Sans", sans-serif;
}
.inc{
    font-size: 16px;
    font-family: "Public Sans", sans-serif;
    padding-left: 990px;
   padding-top:  25px;
  
}
.bxs-down-arrow{
    padding-top: 25px;
  padding-left:15px;
    font-size: 16px;
}
#nav-space{
    padding-top:25px;
    padding-left:17px;
    word-spacing:6px;
}
.three-columns{

    display: flex;
}
.parent{
    padding-left: 120px;
    font-family: "Public Sans", sans-serif;
    padding-top:90px;
    font-size: 16px;
}
.child{
    padding-left: 135px;
    font-family: "Public Sans", sans-serif;
    padding-top:28px;
    font-size: 13px;
    font-weight: normal;
    color: #6d6c6c;
}
.child-uniq{
font-size: 13px;
padding-left: 135px;
font-family: "Public Sans", sans-serif;
padding-top:28px;  
color:rgb(64, 166, 243);


}
.parent2{
    padding-left: 120px;
    padding-top:35px;
    font-size: 16px; 
    font-family: "Public Sans", sans-serif;
}
.child2{
    padding-left: 135px;
    font-weight: normal;
    color: #6d6c6c;
    padding-top:25px;
    font-size: 13px;
    font-family: "Public Sans", sans-serif;
}
.column1{
  position:fixed ;
    border-right: 3px solid  whitesmoke;  
    width: fit-content;
    padding-right:45px;
    min-height:100vh; 
    height: 100%;  
}
.basic{ 
     padding-left: 330px;
     font-family: "Public Sans", sans-serif;
     font-size:16px;
     padding-top: 100px;
}
.column2{
   
    border-right: 3px solid  whitesmoke;  
    width: fit-content;
    padding-right:50px;
    min-height:100vh; 
    height: 100%; 
}
.mail{
    padding-left: 330px;
     font-family: "Public Sans", sans-serif;
     font-size:16px;
     font-weight:normal;
     padding-top: 25px;
     
}
.mail i{
    color:red;
     font-size: 10px;
     padding-left: 1px;
}
.contact{
    width:635px;
    margin-left: 330px;
    padding: 10px;
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
}
.label{
    padding-left: 330px;
     font-family: "Public Sans", sans-serif;
     font-size:16px;
     column-gap:10px;
     padding-top:20px; 
     font-weight: normal;
     display: grid;
     grid-template-columns: repeat(2,auto);
}
.name{
    font-family:"Public Sans", sans-serif ;
    font-weight: normal;
    font-size:16px;

}

.nav-name{
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
    width:300px;
    padding: 10px;
}
.full{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    font-weight:normal;
    padding-top: 25px;
}
.dembek{
    width:635px;
    margin-left: 330px;
    padding: 10px;
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
}
.label2{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    padding-top:20px; 
    font-weight: normal;
    column-gap:10px;
    display: grid;
    grid-template-columns: repeat(2,auto); 
}
.status{
    font-family:"Public Sans", sans-serif ;
    font-weight: normal;
    font-size:16px;
}
.status i{
    color:red;
    font-size: 10px;
    padding-left: 1px;
}
.heading{
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    /* column-gap: 10px; */
    border:none;
    width:300px;
    padding: 10px;
}
.header{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    padding-top: 40px;
}
.head{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    padding-top: 28px;
    font-weight:normal ;
}
.add-1{
    width:635px;
    margin-left: 330px;
    padding: 10px;
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
}
.head2{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    padding-top: 20px;
    font-weight:normal ;   
}
.add-2{
    width:635px;
    margin-left: 330px;
    padding: 10px;
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none; 
}
.label3{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    padding-top:20px; 
    font-weight: normal;
    column-gap:10px;
    display: grid;
    grid-template-columns: repeat(2,auto);    
}
.city{
    font-family:"Public Sans", sans-serif ;
    font-weight: normal;
    font-size:16px;
}
.state{
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
    /* column-gap: 10px; */
    width:300px;
    padding: 10px;
}
.label4{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    padding-top:20px; 
    font-weight: normal;
    column-gap:10px;
    display: grid;
    grid-template-columns: repeat(2,auto); 
}
.zip{
    font-family:"Public Sans", sans-serif ;
    font-weight: normal;
    font-size:16px;
}
.con{
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
    /* column-gap: 10px; */
    width:300px;
    padding: 10px; 
}
.country{
    padding-left: 330px;
     font-family: "Public Sans", sans-serif;
     font-size:16px;
     font-weight:normal;
     padding-top: 25px;
}
.con2{
    width:310px;
    margin-left: 330px;
    padding: 10px;
    margin-top: 15px;
    background:whitesmoke;
    border-radius: 5px;
    border:none;
}
/* .label5{
    padding-left: 330px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    padding-top:20px; 
    font-weight: normal;
    display: grid;   
} */
.column3{
    display: flex;
}
.button1{
    border-color:rgb(194, 191, 191);
    border-start-start-radius: 5px;
    margin-top:100px;
    margin-left: 25px;
    padding: 9px;
    background-color: white;
    width: 180px;
}
.button1:hover{
    background-color: whitesmoke;
}
.btndiv{
    display: flex; 
}
 
.button2{
    margin-top:100px;
    padding: 6px;
    background-color:rgb(243, 240, 240);
    width: 180px;
    border-color:rgb(192, 190, 190); 
    border: 0;
    border-end-end-radius: 5px;
}
.line{
    margin-top: 30px;
    margin-left:25px;
}
.add-3{
    margin-left: 25px;
    font-family: "Public Sans", sans-serif;
    font-size:16px;
    margin-top: 30px;
}
.para1{
    margin-left: 25px; 
    margin-top: 7px;
}

.searchbar{
    margin-left: 25px; 
    margin-top: 20px;
    font-weight: normal;
    color:rgb(151, 150, 150);
    background-color: whitesmoke;
    font-size: 18px;
    padding: 7px;
    display: flex; 
} 
.searchbar i{
   align-self: end;
}

.user{
    margin-left: 25px; 
    margin-top: 25px;  
    color: rgb(220, 219, 219);
}
/* .parahead1{
    padding-left:  60px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 3px;
    width: 350px;
    padding: 28px;
    color:rgba(128, 128, 128, 0.507);
    font-size: 10px;
} */
.para3{
/* padding-top:50px; */
/* padding-right:220px; */
}
.border1{
    border-radius: 6px;
    padding: 10px;
    border: 2px solid rgb(238, 237, 237);
    margin-top: 7px;
    margin-left:22px;
    display: flex;
}
.info1{
padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 18px;
margin-top: 18px;

}
.para2{
    padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 15px;
font-weight: normal;
line-height: px;
margin-bottom: 18px;
}
.border2{
    border-radius: 6px;
    padding: 10px;
    border: 2px solid rgb(238, 237, 237);
    margin-top: 7px;
    margin-left:22px;
    display: flex;
}
.home{
    margin-left: 25px; 
    margin-top: 25px;  
    color: rgb(220, 219, 219);
}
.info2{
padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 18px;
margin-top: 18px;

}
.para3{
    padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 15px;
font-weight: normal;
line-height: px;
margin-bottom: 18px;
}
.border3{
    border-radius: 6px;
    padding: 10px;
    border: 1.5px solid black;
    margin-top: 7px;
    margin-left:22px;
    display: flex;
}
.company{
    margin-left: 25px; 
    margin-top: 25px;  
    color:black;
}
.info3{
padding-left: 10px;
padding-top: 5px;
color: rgb(13, 47, 89);
font-size: 18px;
margin-top: 18px;

}
.para4{
    padding-left: 10px;
padding-top: 5px;
color: rgb(13, 47, 89);
font-size: 15px;
font-weight: normal;
line-height: px;
margin-bottom: 18px;
}
.border4{
    border-radius: 6px;
    padding: 10px;
    border: 1.5px solid black;
    margin-top: 7px;
    margin-left:22px;
    display: flex;
}
.sale{
    margin-left: 25px; 
    margin-top: 25px;  
    color:black;
}
.info4{
padding-left: 10px;
padding-top: 5px;
color: rgb(13, 47, 89);
font-size: 18px;
margin-top: 18px;

}
.para5{
    padding-left: 10px;
padding-top: 5px;
font-size: 15px;
color: rgb(13, 47, 89);
font-weight: normal;
line-height: px;
margin-bottom: 18px;
}
.border5{
    border-radius: 6px;
    padding: 10px;
    border: 2px solid rgb(238, 237, 237);
    margin-top: 7px;
    margin-left:22px;
    display: flex;
    margin-bottom: 10px;
}
.system{
    margin-left: 25px; 
    margin-top: 25px;  
    color: rgb(220, 219, 219);
}
.info5{
padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 18px;
margin-top: 18px;

}
.para6{
    padding-left: 10px;
padding-top: 5px;
color: rgb(225, 224, 224);
font-size: 15px;
font-weight: normal;
line-height: px;
margin-bottom: 18px;
}
